

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


.coming-soon {
    font-family: "Satisfy", cursive;
    font-size: 70px;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255);
    z-index: 100; 
}

.get-started-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #8e5c40;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
}

.below-video-section {
    background-color: #eadad1;
    padding: 20px;
    text-align: center;
}

.section-below-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-below-video > div {
    flex: 1;  
    text-align: center;
}

.left-text{
    padding: 20px;
    margin-top: -140px;
    margin-left: 30px;
}
.right-image{
    padding: 20px;
}
.right-food, .right-mind {
font-size: 40px;
font-family: "Josefin Sans", sans-serif;  
margin: 5px;
text-align: left;
color: #4a4a4a; 
}

.info{
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;  
    margin: 10px;
    margin-top: 10px;
    text-align: left;
    color: #4a4a4a; 
}

.our-philosophy {
    font-size: 24px; 
    margin: 10px;
    font-family: "Satisfy", cursive;  
    text-align: left;
    color: #6a6a6a; 
}
.signature-recipes {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.recipes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.recipe {
    flex-basis: 22%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
    background-color: #967a5f;
    text-align: center;
}

.recipe img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.recipe h3 {
    color: #000000;
    font-size: 18px;
}

.recipe p {
    color: #ffffff;
    font-size: 14px;
    margin: 5px 0;
}
.fun-zone {
    text-align: center;
    padding: 20px 0;
    background-color: #eadad1; 
    margin-top: 20px;
}


.interactive-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    background-color: #eadad1; 
}

.interactive-section div {
    margin: 10px;
    padding: 10px;
    flex-basis: 30%;
    text-align: center;

    background-color: #ffffff;
}
.fun-zone button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.fun-zone button:hover {
    background-color: #3f3f3f; 
}
.site-footer {
    background-color: #8e5c40;
    color: rgb(0, 0, 0);
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.footer-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer-logo img {
    width: 110%;
    height: auto;
    display: block;
}

.contact-info {
    margin-left: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.contact-info p {
    margin: 10px 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}


.contact-info p label {
    font-size: 30px; 
    font-weight: bold; 
    color: #eadad1;
}

.contact-info p span {
    color: #000000;
}

.social-icons a {
    color: #000000;  
    font-size: 24px;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #1c1c1c;
}

.user-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.action-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #8e5c40;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #926c3b;
}

.signup {
    margin-top: 10px;
}

.signup-button {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.signup-button:hover {
    color: #0056b3;
}

.message {
    text-align: center;
    font-size: 24px;
    color: #8e5c40;
}

